<app-menu-bar></app-menu-bar>
<div class="sobre">
    <h1>Santander Bootcamp 2023 - Blog de Aprendizado</h1>
    <p>
        <br>Introdução:
        
        <br>Bem-vindo ao nosso blog! Este espaço foi criado como parte de um emocionante projeto no âmbito do Santander Bootcamp 2023 - Fullstack Java+Angular com a Digital Innovation One (DIO). Nosso principal objetivo aqui é compartilhar nossa jornada de aprendizado e crescimento à medida que exploramos as maravilhas do desenvolvimento fullstack, com foco especial em ganhar produtividade com Angular.
        
        <br><br><b>O Projeto:</b>
        
        <br>Durante este módulo do bootcamp, mergulhamos de cabeça na criação de um ambiente de desenvolvimento integrado conectado a um repositório Git. Isso nos permitiu não apenas aprender sobre os conceitos essenciais do controle de versão, mas também experimentar em primeira mão como as ferramentas modernas facilitam a colaboração eficaz em projetos de software.
        
        <br><br><b>Componentes e Funcionalidades:</b>
        
        <br>Uma das partes mais emocionantes deste módulo foi a criação de componentes essenciais para o desenvolvimento de uma aplicação Angular. Entre as várias conquistas, destacamos:
        
        <br><br><b>Menus Navegáveis:</b> Aprendemos a criar menus de navegação que não apenas tornam a experiência do usuário mais intuitiva, mas também são altamente personalizáveis. A flexibilidade oferecida pelo Angular nos permitiu projetar menus de acordo com os requisitos específicos do nosso projeto.
        
        <br><br><b>Cards Interativos:</b>Desenvolvemos cards que podem ser usados para exibir informações de forma atrativa e interativa. Isso envolveu a aplicação de estilos e animações para tornar nossa aplicação mais atraente e envolvente para os usuários.
        
        <br><br><b>Utilização de Rotas:</b> A utilização de rotas foi um marco importante no nosso aprendizado. Isso me permitiu criar uma aplicação com múltiplas páginas, facilitando a organização e a navegação dentro do nosso projeto.
        
        <br><br><b>Conclusão:</b>
                        
        <br>Agradecço ao Santander Bootcamp e à Digital Innovation One por esta oportunidade incrível de aprendizado e desenvolvimento!</p>
</div>
