<div class="container_big_card">
    <img src="./assets/vayne.png" alt="imagem">
    <div class="data_big_card">
        {{data}}
    </div>
    <div class="titulo_big_card">
        <h1>Lorem ipsum dolor sit amet.</h1>
    </div>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quibusdam deleniti voluptatum recusandae corrupti illo modi ea obcaecati repellendus suscipit animi nesciunt reiciendis, molestiae, laborum culpa fugiat dignissimos quo sit?
    </p>
</div>                    
