.container-smal-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.container-smal-card img{
    width: 100%;   
    border-radius: 1rem;
    
}

.container-smal-card  .data-paragrafo{
    display: flex;
    flex-direction: column;
}

.container-smal-card p{
    color: #ffffff;
    font-size: 2rem;

}

.container-smal-card .data-small-card{
    
    color: #393939;
}



@media (max-width: 1024px) { 
    .container-smal-card p{
        color: #ffffff;
        font-size: 1rem;
    
    }
}

@media (max-width: 768px) { 
    .container-smal-card p{
        color: #ffffff;
        font-size: 1.3rem;
    
    }
}

@media (max-width: 426px) { 
    .container-smal-card p{
        color: #ffffff;
        font-size: 1rem;
    
    }
    .container-smal-card{
        grid-template-columns: 1fr;
    }
   
}