<div class="container-menu-bar">
    <div class="lado_esquerdo">
        <img src="./assets/web.png" alt="logo">
        |<a href="" routerLink="">Home</a>
        |<a href="" routerLink="sobre">Sobre</a>|
    </div>
    <div class="lado_direito">
        <a href="https://github.com/ALESSANDRODASILVALIMA" target="_blank"><i class='bx bxl-github'></i>GitHub</a>          
        <a href="https://www.linkedin.com/in/alessandro-silva-119795174/" target="_blank"><i class='bx bxl-linkedin' ></i>Linkdin</a>          
        
    </div>
</div>
